# Try Pandas

In [4]:
import pandas as pd

In [5]:
mynums = [1, 2, 3, 4, 5]
df = pd.DataFrame(mynums)

In [6]:
df

   0
0  1
1  2
2  3
3  4
4  5

# LaTeX in Jupyter Notebook

In [8]:
$$ Classification Rate = \frac1N \sum_{i=0}^n I(y_i = \hat{y_i}) $$

SyntaxError: invalid syntax (674430202.py, line 1)